<p>Xin chào <%= @resource.email %>!</p>

<p>Ai đó đã yêu cầu thay đổi mật khẩu. Bạn có thể thực hiện bằng đường dẫn dưới </p>
<p><%= link_to 'Đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu thay đổi mật khẩu, làm ơn bỏ qua mail này</p>
<p>Mật khẩu của bạn sẽ không đổi cho đến khi bạn truy cập đường dẫn trên và tạo mật khẩu mới.</p>